# enviroment
.env
*.env
!.env.example

# app data
data/
*/data/

# keys/certs
*.key
*.pem
*.crt

# syncthing configs
syncthing/config/

# vaultwarden
vaultwarden/vw-data/

# paperless-ngx
paperless-ngx/consume/
paperless-ngx/export/
paperless-ngx/media/

# photoview
photoview/database/
photoview/storage/
