# paperless-ngx config
PAPERLESS_URL=https:my-site.com:8050
PAPERLESS_SECRET_KEY=my-secret
PAPERLESS_TIME_ZONE=
PAPERLESS_OCR_LANGUAGE=
PAPERLESS_OCR_LANGUAGES=
PAPERLESS_CONSUMER_RECURSIVE=
PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS=
